html
  body
    .container
      div(ng-include="'components/navbar/navbar.html'") 
      .row
        .large-12.large-text-center.columns
          .panel
            h1 &apos;Allo, &apos;Allo!      
            img(src='assets/images/yeoman.png', alt="I'm Yeoman")
            br      
            p Always a pleasure scaffolding your apps.       
            p
              a.button.radius(ng-href='#') Splendid!
      .row
        .large-4.columns(ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'")
          .th
            img.right(ng-src='assets/images/{{awesomeThing.logo}}', alt='{{awesomeThing.title}}')     
            .caption
              h3 {{awesomeThing.title}}         
              p {{awesomeThing.description}}          
              p
                a(ng-href='{{awesomeThing.url}}') {{awesomeThing.url}}
      .row
        .large-12.columns
          hr     
          p
            With &hearts; from 
            a(href='https://twitter.com/Swiip') @Swiip
