html
  body
    nav.top-bar.row(ng-controller='NavbarCtrl')
      ul.title-area
        li.name
          h1
            a(href='https://github.com/Swiip/generator-gulp-angular') Gulp &amp; Angular
      |   
      section.top-bar-section
        ul.right
          li.active
            a(ng-href='#') Home
          |       
          li
            a(ng-href='#') About
          |       
          li
            a(ng-href='#') Contact
        |     
        ul.left
          li
            a(ng-href='#') Current date: {{ date | date:&apos;yyyy-MM-dd&apos; }}
